/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

.logo img {
  max-width: 50px;
  margin-right: 10px;
}

/*BOUTONS*/

a.btn  {
  color: white;
}



.container-fluid {
  .col-sm-8 {
    margin: 0px auto;
    display: block;
    float: initial;
  }
}

.image-container{
  display: inline-block;
  width: 25%;
  margin-right: 4%;
  float:left;
  img{
    width:100%;
    margin-bottom: 5%;
  }
}

.info-container{
  display: inline-block;
  width: 70%;
}

.bandeAnnonce{
  font-size: 0;
  text-align: center;
  iframe {
    width: 60%;
    height: 250px;
  }
}

.titreFilmDescription{
  text-align: center;
  font-size: large;
}

.rightSideFilmDescription{
  display: inline-block;
  width:30%;
  text-align : left;
  vertical-align: top;
}

.leftSideFilmDescription{
  display: inline-block;
  width:30%;
  vertical-align: top;
}