/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";


body {
  background-color: #f3f3f3;
}

footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

.logo img {
  max-width: 50px;
  margin-right: 10px;
}
.page-title {
  text-align: center;
  padding: 20px 0;
  margin: 0;
}

/*BOUTONS*/
a.btn  {
  color: white;
  &.btn-default {
    color: black;
  }
}

.container-fluid {
  .col-sm-8 {
    background-color: white;
    margin: 0px auto;
    display: block;
    float: initial;
    max-width: 1100px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
  }
}

.image-container{
  display: inline-block;
  width: 25%;
  margin-right: 5%;
  float:left;
  text-align: center;
  img{
    width:100%;
    max-width: 250px;
    margin-bottom: 5%;
  }
}

.info-container{
  display: inline-block;
  width: 55%;
}

.bandeAnnonce{
  font-size: 0;
  text-align: center;
  iframe {
    width: 100%;
    max-width: 500px;
    height: 300px;
  }
}

.titreFilmDescription{
  text-align: left;
  font-size: large;
  font-size: 30px;
  margin: 0;
  margin-bottom: 12px;
}

.rightSideFilmDescription{
  display: inline-block;
  width:49%;
  text-align : left;
  vertical-align: top;
}

.leftSideFilmDescription{
  display: inline-block;
  text-align : left;
  width:49%;
  vertical-align: top;
}

@media all and (max-width: 770px) {
  .leftSideFilmDescription, .rightSideFilmDescription{
    width: 100%;
    width: 100%;
  }
}
@media all and (max-width: 600px) {
  .leftSideFilmDescription, .rightSideFilmDescription{
    width: 100%;
    width: 100%;
  }
  .image-container, .info-container {
    width: 100%;
  }
}



/*Forms*/
form {
  display: block;
  text-align: left;
  max-width: 500px;
  padding:10px;
  margin: 0 auto;
  label {
    display: block;
  }
}
