
.container-films.list-films {

  text-align: center;
  .item {
    text-align: left;
    width: 27%;
    margin: 3%;
    display: inline-block;

    .image {
      text-align: center;
      img {
        width:100%;
        height: 100%;
        max-width: 250px;
        max-height: 300px;
      }
    }

    .titre {
      text-align: center;
      font-size: 20px;
      a {
        color: black;
        background: none;
        font-weight: 800;
        padding: 5px 0;
        display: inline-block;
      }
    }

    .date {
      float: right;
    }

  }

}


